body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.progVal {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
}

.barColorBlue {
  background-color: #4eafc9;
}

.barColorRed {
  background-color: #ff0000;
}

.barContainer {
  height: 30px;
  width: 100%;
  background-color: #e0e0de;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.barColorStyle {
  height: 100%;
  border-radius: inherit;
}

.barLabel {
  padding: 5px;
  font-weight: bold;
}
